<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
         <link rel="stylesheet" href="static/add.css">
    </head>
<body>
    <form method="post" action="/add_cafe">
        <br>
        <label>Cafe Name:</label><br>
        <input id="cafe_name" name="Cafe Name" type="text"><br><br>
        <label>Map Url:</label><br>
        <input id="map_url" name="Map Url" type="url"><br><br>
        <label>Image Url:</label><br>
        <input id="img_url" name="Image Url" type="url"><br><br>
        <label>Location:</label><br>
        <input id="location" name="Location" type="text"><br><br>
        <label>Seats:</label><br>
        <input id="seats" name="Seats" type="text"><br><br>
        <label>Has Toilet:</label><br>
        <input id="has_toilet" name="Has Toilet" type="text"><br><br>
        <label>Has WiFi:</label><br>
        <input id="has_wifi" name="Has WiFi" type="text"><br><br>
        <label>Has Sockets:</label><br>
        <input id="has_sockets" name="Has Sockets" type="text"><br><br>
        <label>Can Take Calls:</label><br>
        <input id="can_take_calls" name="Can Take Calls" type="text"><br><br>
        <label>Coffee Price:</label><br>
        <input id="coffee_price" name="Coffee Price" type="text"><br><br>
        <input type="submit">
    </form>
</body>
</html>