<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cafes</title>
</head>
<body>
    <div class="Nav">
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="https://www.pngjoy.com/pngl/502/8235051_cup-icon-cafe-icon-white-png-png-download.png" alt="" width="40" height="30" class="d-inline-block align-text-top">
              Cafes
            </a>
            <a class="navbar-brand" href="{{ url_for('add_details') }}">
              Add Cafe
            </a>
          </div>

        </nav>
    </div>
    <div class="DivImg">
        {% for cafe in cafes %}
            <h3>{{ cafe['name'] }} <button type="button" class="btn btn-outline-dark"><a href="{{ url_for('delete_cafe', id=cafe.id) }}" style="text-decoration:none;color:cyan">Delete Cafe</a></button></h3>
            <a href="{{ cafe['img_url'] }}" target="_blank"><img src="{{ cafe['img_url'] }}" class="rounded"></a><br>
            <ul>
                <li>Location :- {{ cafe['location'] }}</li>
                <li>Go to Map :- <a href="{{ cafe['map_url'] }}" target="_blank" style="text-decoration:none">Map</a></li>
                <li>Seats :- {{ cafe['seats'] }}</li>
                <li>Toilet :- {{ cafe['has_toilet'] }}</li>
                <li>WiFi :- {{ cafe['has_wifi'] }}</li>
                <li>Sockets :- {{ cafe['has_sockets'] }}</li>
                <li>Take Calls :- {{ cafe['can_take_calls'] }}</li>
                <li>Coffee Price :- {{ cafe['coffee_price'] }}</li>
            </ul>
            <hr>
        {% endfor %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
